body {
    background-color: #145a36;
}

#gamestate {
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    padding: 0px;
    color: azure;
}

.board {
	display: grid;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: repeat(4, 100px);
    /* margin:auto;
    padding-left: 20%;
    padding-right: 20%; */
    justify-content: center;
    padding: 10px;
    row-gap: 40px;
    column-gap: 10px;
}
 
.board .card {
    width: 90px;
    justify-self: center;
    align-self: center;
}

.reset {
    background-color: rgb(0, 0, 0, .5);
    color: azure;
    display: block;
    margin:20px auto;
}

footer {
    text-align: center;
    position: fixed;
    color:azure;
    font-size: 20px;
    font-family: serif;
    background-color:rgb(0, 0, 0, .5);
    padding-bottom: 10px;
    padding-top: 10px;
    bottom: 0;
    width: 100%;
}